:root {
  font-size: 16px;
  font-family: "Karla";
  --text-light: #000000;
  --text-night: #E6E6E6;
  --bg-light: #E6E6E6;
  --bg-night: #000000;
  --icon-light: #000000;
  --icon-night: #E6E6E6;
}

.hidden {
  display: none;
}

.container {
  background-color: #E6E6E6;
  height: 100vh;
  display: grid;
  grid-template-columns: 15rem 3fr;
  grid-template-rows: 100vh;
}

.infoContainer {
  padding: 0 0 1rem 0;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr;
  height: 100vh;
}

.idContainer {
  margin: 3rem 0 2rem 2rem;
  height: 200px;
  width: 150px;
  margin: 1rem auto 0 auto;
  display: flex;
  justify-content: center;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.namingContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1rem;
  margin: 2rem 0 0 0;
}

.infoIconContainer {
  display: flex;
  width: auto;
  margin: 0;
}

#downloadIcon, #githubIcon, #linkedInIcon {
  height: 50px;
  width: auto;
  margin: 1rem 1rem 0 1rem;
}

#shuffleIcon, #colorModeIcon {
  height: 50px;
  width: auto;
  cursor: pointer;
  margin: 1rem 0 0 0;
}

.toolContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0;
}

#projectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  overflow: auto;
  padding: 1rem;
}

.project {
  background-color: #F5F5FA;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.projectPicture {
  position: relative;
  width: fit-content(1000px);
  height: 70%;
  width: auto;
  margin: 1rem;
}

.githubLink {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #F5F5FA;
  padding: 0.1rem;
  border-radius: 50%;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 30%;
  width: auto;
  margin: 0 1rem 1rem 1rem;
}

.technoIcon {
  height: 50px;
  width: auto;
  margin: 0 1rem 0 0;
}

.stackIconContainer {
  display: flex;
}

@media screen and (max-width: 1020px) {
  #projectContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}