:root {
  font-size: 16px;
  font-family: "Karla";
  --text-light: #000000;
  --text-night: #E6E6E6;
  --bg-light: #E6E6E6;
  --bg-night: #201f1f;
  --icon-light: #000000;
  --icon-night: #E6E6E6;
}

.hidden {
  display: none;
}

.container {
  background-color: #201f1f;
  height: 100vh;
  display: grid;
  grid-template-columns: 15rem 3fr;
  grid-template-rows: 100vh;
}

.infoContainer {
  padding: 0 0 1rem 0;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  height: 100vh;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

.namingContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1rem;
  margin: 2rem 0 0 0;
  color: #E6E6E6;
}

.infoIconContainer {
  display: flex;
  width: auto;
  margin: 1rem;
}

#downloadIcon, #githubIcon, #linkedInIcon, #shuffleIcon {
  height: 30px;
  width: auto;
  margin: 1rem 1rem 0 1rem;
}

#shuffleIcon {
  cursor: pointer;
}

#projectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  overflow: auto;
  padding: 1rem;
}

.project {
  background-color: #F5F5FA;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.projectPicture {
  position: relative;
}

.projectPicture > img:first-child {
  width: 100%;
  height: 100%;
  padding: 1rem;
  z-index: auto;
}

.githubLink {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #F5F5FA;
  padding: 0.1rem;
  border-radius: 50%;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 30%;
  width: auto;
  margin: 0 1rem 1rem 1rem;
}

.technoIcon {
  height: 50px;
  width: auto;
  margin: 0 1rem 0 0;
}

.stackIconContainer {
  display: flex;
}

@media screen and (max-width: 1020px) {
  #projectContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
